body {

        font-family: Verdana, Geneva;
        padding: 0px;
        margin: 0px;

}

.heading {

        font-size: 60px;
        font-weight: bold;
        text-align: center;

}

.mainTable {

        width: 100%;
        text-align: center;
