/* White */
.white {
    color: white;
}

.bg-white {
    background-color: white;
}

.bg-blue-500 {
    background-color: #3B82F6;
}

.bg-blue-500:hover {
    background-color: #2563EB;
}

/* Grey */
.bg-grey-100 {
    background-color: #F3F4F6;
}

.bg-grey-200 {
    background-color: #E5E7EB;
}

.bg-grey-300 {
    background-color: #D1D5DB;
}

.bg-grey-400 {
    background-color: #9CA3AF;
}

.bg-grey-500 {
    background-color: #6B7280;
}

.grey-50 {
    color: #F9FAFB;
}

.grey-100 {
    color: #F3F4F6;
}

.grey-200 {
    color: #E5E7EB;
}

.grey-300 {
    color: #D1D5DB;
}

.grey-400 {
    color: #9CA3AF;
}

.grey-500 {
    color: #6B7280;
}

.grey-600 {
    color: #4B5563;
}

.grey-700 {
    color: #374151;
}

.grey-800 {
    color: #1F2937;
}

/* Green */
.green-50 {
    color: #ECFDF5;
}

.green-100 {
    color: #D1FAE5;
}

.green-200 {
    color: #A7F3D0;
}

.green-300 {
    color: #6EE7B7;
}

.green-400 {
    color: #34D399;
}

.green-500 {
    color: #10B981;
}

.green-600 {
    color: #059669
}

.green-700 {
    color: #047857;
}

/* Blue */
.blue-50 {
    color: #EFF6FF;
}

.blue-100 {
    color: #DBEAFE;
}

.blue-200 {
    color: #BFDBFE;
}

.blue-300 {
    color: #93C5FD;
}

.blue-400 {
    color: #60A5FA;
}

.blue-500 {
    color: #3B82F6;
}

.blue-600 {
    color: #2563EB;
}

.blue-700 {
    color: #1D4ED8;
}