<!DOCTYPE html>

<html>
    <head>
        <title>Plant Dashboard</title>

        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' href = "{{ url_for('static', filename = 'css/formatting.css') }}">
        <script src='https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js'></script>    
    </head>

    <body class='bg-grey-100' style='padding: 0; margin: 0; overflow-x: hidden;'>
        <!-- Header -->
        <nav class='bg-white' style='border-bottom: 1px solid lightgrey; padding: 30px;'>
            <span class='blue-500 text-4xl' style='font-weight: bold;'>Plant Dashboard</span>
        </nav>

        <main class='flex w-100 justify-center' style='padding: 10px;'>
            <div class='flex' style='height: 75vh; padding: 10px; width: 75vw;'>
                <div class='flex flex-col' style='width: 75%; overflow-y: auto;'>
                    {% for plant in plants %}
                        <div class='shadow-md bg-white flex' style='border-radius: 5px; padding-top: 10px; padding-bottom: 10px; padding-left: 10px; margin-bottom: 10px; margin-right: 10px;'>
                            <img style='width: 100px; border-radius: 5px;' src='{{ url_for("static", filename="images/stock-plant.jpg") }}'>
                            <div class='flex flex-col' style='margin-left: 10px'>
                                <span class='blue-500 font-bold' style='font-size: 24px;'>{{ plant.title }}</span><br>
                                <small class='grey-400'>{{ plant.location }}</small>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class='w-100'>
                    <div class='flex justify-space-around' style='margin-bottom: 10px;'>
                        <div class='shadow-md bg-white w-100' style='margin-right: 10px; padding: 20px; border-radius: 5px'>
                            <span class='grey-400'>Last Time Watered</span><br>
                            <span class='grey-700' style='font-size: 24px; font-weight: bold'>{{ last_time_watered }}</span>
                        </div>

                        <div class='shadow-md bg-white w-100' style='padding: 20px; border-radius: 5px;'>
                            <span class='grey-400'>Next Water Due</span><br>
                            <span class='grey-700 font-bold' style='font-size: 24px;'>{{ next_water_due }}</span>
                        </div>
                    </div>

                    <div class='shadow-md bg-white' style='border-radius: 5px;'>
                        <div style='padding: 20px'>
                            <span class='grey-700 text-xl font-bold'>Soil Moisture</span>
                            <canvas id='line-chart' class='w-100' style='margin-top: 20px;'></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>

    <script>
        var graph_default_colour = '#10B981';

        var line_chart = new Chart('line-chart', {
                type: 'bar',
                data: {
                    labels: {{ x_axis_dates | safe }},
                    datasets: [{
                        data: {{ graph_data }},
                        label: 'Moisture Level',
                        fill: false,
                        borderWidth: 3,
                        pointRadius: 2,
                        borderColor: graph_default_colour,
                        backgroundColor: graph_default_colour,
                        pointHoverBackgroundColor: graph_default_colour
                    }]
                },

                options: {
                    responsive: true,
                    legend: { display: false },
                    maintainAspectRatio: false,
                    elements: { line: { tension: 0 } },
                    tooltips: { mode: 'index', intersect: true, position: 'average' },
                    scales: {
                        xAxes: [{ scaleLabel: {display: false, labelString: 'Date' } }],
                        yAxes: [{ scaleLabel: {display: true, labelString: 'Moisture Level', ticks: {beginAtZero: true, suggestedMax: 50, stepSize: 10}}}]
                },
            },
        });
    </script>
</html>