<!DOCTYPE html>

<html>
    <title>Plant Dashboard</title>

    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href = 'https://fonts.googleapis.com/css?family=Raleway'>
    <link rel = 'stylesheet' href = "{{ url_for('static', filename = 'css/formatting.css') }}">
    <script src = "https://kit.fontawesome.com/e9818d9c7f.js" crossorigin = "anonymous"></script>
	<script src = 'https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js'></script>

    <body class='bg-grey-100' style='padding: 0; margin: 0; overflow-x: hidden;'>
        <!-- Header -->
        <nav style='background-color: white; border-bottom: 1px solid lightgrey; padding: 10px;'>
            <h1><b>Plant Dashboard <i class="fas fa-seedling" style = 'color: green'></i></b></h1>
        </nav>

        <main style='padding: 10px; width: 100vw; display: flex; justify-content: center;'>
            <div style='height: 75vh; padding: 10px; display: flex; width: 75vw;'>
                <div style='display: flex; flex-direction: column; width: 100%; overflow-y: auto;'>
                    {% for plant in plants %}
                        <div class='shadow-md' style='background-color: white; border-radius: 5px; padding-top: 10px; padding-bottom: 10px; padding-left: 10px; margin-bottom: 10px; margin-right: 10px; display: flex;'>
                            <div style='background-color: lightblue; width: 75px; height: 75px; margin-right: 10px; border-radius: 10px;'></div>
                            <div style='display: flex; flex-direction: column;'>
                                <span style='font-size: 24px; font-weight: 900;'>{{ plant.title }}</span><br>
                                <small style='color: grey'>{{ plant.location }}</small>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div style='width: 100%'>
                    <div class='display: flex; padding-bottom: 10px;'>
                        <div class='shadow-md' style='background: white; width: 100%; height: 10vh;'>

                        </div>

                        <div class='shadow-md'>
    
                        </div>
                    </div>

                    <div class='shadow-md' style='background: white; border-radius: 5px;'>
                        <div style='height: 55vh; padding: 10px'>
                            <canvas id='line-chart'></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div>
                <div>
                    <div style = 'text-align: center; width: 25vw;'>
                        <h3><b>Last Time Watered</b></h3>
                        <p>{{ last_time_watered }}</p>
                    </div>

                    <div style = 'text-align: center; width: 25vw;'>
                        <h3><b>Next Water Due</b></h3>
                        <p>{{ next_water_due }}</p>
                    </div>
                </div>
            </div>

            <div>
                <div>
                    <div style='height: 55vh; padding: 10px'>
                        <canvas id = 'line-chart'></canvas>
                    </div>
                </div>
            </div> -->
        </main>
    </body>

    <script>
        var graph_default_colour = 'rgba(175, 17, 29, 1)'

        var line_chart = new Chart('line-chart', {
                type: 'line',
                data: {
                    labels: {{ x_axis_dates | safe }},
                    datasets: [{
                        data: {{ graph_data }},
                        label: 'Moisture Level',
                        fill: false,
                        borderWidth: 3,
                        pointRadius: 2,
                        borderColor: graph_default_colour,
                        pointHoverBackgroundColor: graph_default_colour
                    }]
                },

                options: {
                    responsive: true,
                    legend: { display: false },
                    maintainAspectRatio: false,
                    elements: { line: { tension: 0 } },
                    tooltips: { mode: 'index', intersect: true, position: 'average' },
                    scales: {
                        xAxes: [{ scaleLabel: {display: false, labelString: 'Date' } }],
                        yAxes: [{ scaleLabel: {display: true, labelString: 'Moisture Level', ticks: {beginAtZero: true, suggestedMax: 50, stepSize: 10}}}]
                },
            },
        });
    </script>

</html>

