<!DOCTYPE html>

<html>
    <title>Plant Dashboard</title>

    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css'>
    <link rel='stylesheet' href = 'https://fonts.googleapis.com/css?family=Raleway'>
    <link rel = 'stylesheet' href = "{{ url_for('static', filename = 'css/formatting.css') }}">
    <script src = "https://kit.fontawesome.com/e9818d9c7f.js" crossorigin = "anonymous"></script>
	<script src = 'https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js'></script>

    <body class='w3-light-grey'>

            <!-- Header -->
            <header class='w3-container w3-center w3-padding-32'> 
                <h1><b>Plant Dashboard <i class="fas fa-seedling" style = 'color: green'></i></b></h1>
            </header>

            <div class = 'w3-content' style = 'max-width: 1500px'>

                <div class="w3-card-4 w3-white w3-margin">
                    <div class = 'flex_container'>
                        <div class="w3-container" style = 'text-align: center; width: 25vw;'>
                            <h3><b>Last Time Watered</b></h3>
                            <p>{{ last_time_watered }}</p>
                        </div>

                        <div class="w3-container" style = 'text-align: center; width: 25vw;'>
                            <h3><b>Next Water Due</b></h3>
                            <p>{{ last_time_watered }}</p>
                        </div>
                    </div>

                </div>

                <div class='w3-col'>
                    <div class='w3-card-4 w3-margin w3-white'>
                        <div class='w3-container' style = 'height: 55vh; padding: 10px'>
                            <canvas id = 'line-chart'></canvas>
                        </div>
                    </div>
                </div>
                  
            </div>
    </body>

    <script>
        var graph_default_colour = 'rgba(175, 17, 29, 1)'

        var line_chart = new Chart('line-chart', {
                type: 'line',
                data: {
                    labels: {{ x_axis_dates | safe }},
                    datasets: [{
                        data: {{ graph_data }},
                        label: 'Moisture Level',
                        fill: false,
                        borderWidth: 3,
                        pointRadius: 2,
                        borderColor: graph_default_colour,
                        pointHoverBackgroundColor: graph_default_colour
                    }]
                },

                options: {
                    responsive: true,
                    legend: { display: false },
                    maintainAspectRatio: false,
                    elements: { line: { tension: 0 } },
                    tooltips: { mode: 'index', intersect: true, position: 'average' },
                    scales: {
                        xAxes: [{ scaleLabel: {display: false, labelString: 'Date' } }],
                        yAxes: [{ scaleLabel: {display: true, labelString: 'Moisture Level', ticks: {beginAtZero: true, suggestedMax: 50, stepSize: 10}}}]
                },
            },
        });
    </script>

</html>

